h1 {
  font-family: 'Lato', serif;
  margin-left: 30px;
}

form {
  margin: 30px 30px 30px 30px;
}

input[type=checkbox] + label {
  font-family: 'Montserrat', sans-serif;
  margin-left: 15px;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
}


label > i {
  margin-left: 10px;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
}
